.text-shadow {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.flashes h4{
    line-height: 2;
}

.btn-small{
    margin: 5px;
    margin-right: 10px;
}

.collapsible-header .col strong{
    margin: 5px;
    line-height: 42px;
}

footer {
    height: 200px;
    }


.footer-icon li {
    display: inline-block;
    text-align: center;
    padding: 4px;
}

.footer-icon li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    height: 40px;
    line-height: 32px;
    padding: 4px 8px;
    width: 40px;
    transition: .5s;
}

.footer-icon li a:hover {
    background: ##757575;
    color: #fff;
}