.text-shadow {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.flashes h4{
    line-height: 2;
}

.btn-small{
    margin: 5px;
    margin-right: 10px;
}

.collapsible-header .col strong{
    margin: 5px;
    line-height: 42px;
}

footer {
    height: 200px;
    }


.icon {
	i.circle {
		font-size: 18px;
		line-height: 42px;
		color: #fff;
		background-color: #999;
		text-align: center;
	}
	.circle {
		position: relative;
    margin-right: 16px;
    margin-bottom: 16px;
    float: left;
		width: 42px;
		height: 42px;
		overflow: hidden;
		left: 15px;
		display: inline-block;
		vertical-align: middle;
	}
}