.text-shadow {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.flashes h4{
    line-height: 2;
}

.btn-small{
    margin: 5px;
    margin-right: 10px;
}

nav ul a {
    color: #f00; 
}

.collapsible-header .col strong{
    margin: 5px;
    line-height: 42px;
}

.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
    url("https://res.cloudinary.com/mr19331/image/upload/v1606984437/veg-crisps-1500x1125_hbtycp.jpg")
  no-repeat center;

  background-size: cover;
   width: 100%; 
  height: 80vh;
}

h3 .hero-text  {
   
  padding-top: 20px;
}

.card-search-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.4);
  max-width: 550px;
   width: 100%; 
   padding: 5px; 
  border-radius: 5px;
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
}
.search-wrapper .input {
  width: 75%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.search-wrapper.input.input {
  color: black;
}

.searchbtn {
  background: red;
  width: 5%;
  border-radius: 0px;
  position: relative;
  cursor: pointer;
}
.resetbtn {
  background: grey;
  width: 5%;
  border-radius: 0px;
  position: relative;
  cursor: pointer;
}
.searchbtn .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.text-box {
  width: 50%;
  font-weight: 300;
  /* background: rgba(0, 0, 0, 0.5); */
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 60%;
}
.image-container {
  background: #f4f4f4;
}


footer {
    height: 200px;
    }


.footer-icon li {
    display: inline-block;
    text-align: center;
    padding: 4px;
}

.footer-icon li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    height: 40px;
    line-height: 32px;
    padding: 4px 8px;
    width: 40px;
    transition: .5s;
}

.footer-icon li a:hover {
    background: #757575;
    color: #fff;
}

@media screen and (min-width: 768px){
.hero-text{
 padding-top: 0px;   
   } 
}