{% extends "base.html" %}

{% block content %}

<div class="contact-container">
  <div class="row">
    <div class=" left-side col s5 pull-s7"></div>
          <img src="https://res.cloudinary.com/mr19331/image/upload/v1607360448/Snixsnax-team_phvtze.jpg">
          <p>Some text.</p>
    </div>

       <div class=" right-side col s7 push-s5">
         <h2 class= "center-align">The SnixSnax Story </h2>
         <p>We love to Snack and to Share Ideas!</p>
	        <p> We are enthusiastic cooks and snack-makers and we want to share our site with you!
            Be sure to follow us on Social media and see what our team and our members are doing this week</p> 
	   </div>
   </div>
</div>
  


  {% endblock %}