{% extends "base.html" %}

{% block content %}

<section class="container-section" id="contact">
    <!-- page heading -->
    <h3 class=" grey-text darken-4 center-align">The Snix-Snax Team</h3>
    <div class="row">
        <div class=" col s12 l6">
            <!-- team image and caption -->
            <img src="https://res.cloudinary.com/mr19331/image/upload/v1607360448/Snixsnax-team_phvtze.jpg"
                class="responsive-img" alt="team-photo">
            <p class="center-align">We Love To Snack! </p>
        </div>
        <div class=" col s12 l6">
            <h5 class=" grey-text darken-4 center-align">The Snix Snax Story</h5>
            <p class="center-align">We love to Snack and to Share Ideas!</p>
            <p class="center-align"> We are enthusiastic cooks and snack-makers and we want to share our site with you!
                Be sure to follow us on Social media and see what our team and our members are doing this week</p>
        </div>
    </div>
</section>





{% endblock %}