{% extends "base.html" %}
{% block content %}  

<h3 class="red-text center-align">Add Your Recipe!</h3>

 <div class="row card-panel grey-lighten-5"> 
    <form class="col s12" method="POST" action="{{url_for('add_recipe')}}">
     <!-- category selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix red-text "></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
					</select>
                    <label for="category_name">Recipe Category</label>
				</div>
            </div>
    
     <!-- recipe name -->
       <div class="row">
           <div class="input-field col s12" >
             <i class=" fas fa-pencil-alt prefix red-text "></i>
             <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
              type="text" class="validate" required>
             <label for="recipe_name">Recipe Name</label>
           </div>
        </div>
        <!-- recipe description -->
        <div class="row">
          <div class="input-field col s12">
             <i class=" fas fa-align-left prefix red-text "></i>
             <textarea id="recipe_description" name="recipe_description" minlength "5" 
             maxlength "200" class="materialize-textarea validate" required></textarea>
             <label for="recipe_description">Recipe Description</label>
          </div>
        </div>
        <!-- recipe ingredients -->
        <div class="row">
          <div class="input-field col s12">
             <i class=" fas fa-align-left prefix red-text "></i>
             <textarea id="recipe_ingredients" name="recipe_ingredients" minlength "5" 
             maxlength "500" class="materialize-textarea validate" required></textarea>
             <label for="recipe_ingredients">Recipe Ingredients</label>
          </div>
        </div>
        <!-- recipe method  -->
        <div class="row">
          <div class="input-field col s12">
             <i class=" fas fa-align-left prefix red-text"></i>
             <textarea id="recipe_method" name="recipe_method" minlength "5" 
             maxlength "200" class="materialize-textarea validate" required></textarea>
             <label for="recipe_method">Method</label>
          </div> 
        </div>
        <!-- recipe image  -->
        <div class="row">
          <div class="input-field col s12">
             <i class=" fas fa-images prefix red-text"></i>
             <textarea id="recipe_image" name="recipe_image" minlength "5" 
             maxlength "200" class="materialize-textarea validate" required></textarea>
             <label for="recipe_image">ImageURL</label>
          </div> 
        </div>
       <!-- date added picker -->
        <div class="row">
           <div class="input-field col s12" >
             <i class=" fas fa-calendar-alt prefix red-text"></i>
             <input id="date_added" name="date_added" type="text" class="datepicker validate" required>
             <label for="date_added">Date Added</label>
           </div>
        </div>
        <!-- submit button -->
        <div class="row">
           <div class="col s12 center-align">
                <button type="submit" class="btn-large red text-shadow">
                  Add My Recipe! <i class="fas.fa-plus-square right"</i>
              </button>
           </div>
        </div>
    </form>
  </div>
{% endblock %}
