{% extends "base.html" %} {% block content %}


<h3 class="red-text center-align text-shadow"> Your SnixSnax Recipe Box! </h3>
<h5 class="grey-text darken-3  center-align"> Click the recipe name for details, don't forget to favourite the recipes you love!</h5>

   {% if recipes|length > 0 %}
      <div class="row"> 
       {% for recipe in recipes %} 
         <div class="col s12 m3 ">
            <div class="card  center-align">
	          <div class= "card-image">
                <img class="activator" src="{{recipe.recipe_image}}">
                 <a href="#" class="halfway-fab btn-floating pink ">
		         <i class="material-icons">favorite</i></a>		
	          </div>
           <div class="card-content">
               <span class="card-title activator grey-text text-darken-4">{{ recipe.recipe_name }}:{{recipe.date_added}}</span>
		       <p>{{recipe.recipe_description}}</p>
		       <p><em>added by:{{ recipe.added_by}}</em></p>
              {% if session.user|lower == recipe.added_by|lower %}
        <!-- materialize buttons -->
                               <a href="{{url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn grey darken-2">Edit</a>
                
                 <button data-target="confirm-modal" class="btn light-blue lighten-1 modal-trigger">Delete</button>
                  <div id="confirm-modal" class="modal">
          <div class="modal-content">
             <i class="material-icons">warning</i>
            <p>Are you SURE you want to delete? This cannot be undone!</p>
         </div>
        <div class="modal-footer">
              <a href="{{url_for('delete_recipe', recipe_id=recipe._id) }}" class="modal-action modal-close waves-effect waves-red btn red lighten-1">Delete</a>
              <a href="!#" class="modal-action modal-close waves-effect waves-red btn red lighten-1">Cancel</a>
        </div>

          </div>
        </div>
              {% endif %}
             </div>
		            <div class="card-reveal">
		              <span class="card-title grey-text text-darken-4">{{recipe.recipe_name}}<i class="material-icons right">X</i></span>
		              <p>{{recipe.recipe_ingredients}}</p>
		              <p>{{recipe.recipe_method}}</p>
                   </div>
                </div>
              </div>
      {% endfor %} 
        </div>
    {% else %}
      <h3 class="red-text center-align text-shadow">Sorry! No Results for Search</h3>
    {% endif %}

{% endblock %}
