{% extends "base.html" %}

{% block content %}

<!-- page heading  -->
<section class="container-section" id="contact">
    <h3 class=" grey-text darken-4 center-align">Get In Touch with SnixSnax!</h3>
    <div class="row">
        <!-- image section and caption -->
        <div class=" col s12 l6">
            <img src="https://res.cloudinary.com/mr19331/image/upload/v1607289009/Fruity-rolls_qjtmlg.jpg"
                class="responsive-img" alt="fruity-rolls">
            <p class="center-align">Make Some Delicious Fruity Rolls Today!</p>
        </div>
        <!-- contact information section -->
        <div class=" col s12 l6">
            <h5 class=" grey-text darken-4 center-align">We are always happy to hear from our members & users!</h5>
            <div class="row">
                <i class="fas fa-phone prefix"></i>
                <h5 class="grey-text darken-4">Call Us</h5>
                <h5> +44 01234567</h5><br>
                <i class="fas fa-envelope"></i>
                <h5 class="grey-text darken-4">Email Us</h5>
                <h5>info@Snixsnax-club.com</h5>

            </div>
        </div>
    </div>
</section>





{% endblock %}