{% extends "base.html" %}

{% block content %}

<div class="contact-container>
<div class="row">
<div class=" left-side col s5 pull-s7"></div>
      <img src="https://res.cloudinary.com/mr19331/image/upload/v1607289009/Fruity-rolls_qjtmlg.jpg">
    <p>Some text.</p>
  </div>

<div class=" right-side col s7 push-s5">
<h2 class= "center-align">Get In Touch with SnixSnax!</h2>
    <p>We love to hear from our members & users!</p>
	 <div class="row">

      <div class="col s6">
	   <h3 class= "black-text">Call Us</h3>
         <i class="fas fa-phone  prefix red-text"></i>
      </div>
      <div class="col s6">
	  <h3 class= "black-text">Email Us</h3>
        <i class="fas fa-envelope"></i>
      </div>
	
	</div>
  </div>











  {% endblock %}